<form name="dcForm"
      ng-controller="DefinedContent.KeyCreateController"
      ng-submit="save(record)"
      val-form-manager
      ng-init="record.type = 'id';createPropertyEntry = {};">
    <umb-panel>
        <umb-header>
            <h1>Create</h1>
        </umb-header>

        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">

                    <umb-control-group label="Name" description="Name of the Defined Content key">
                        <input type="text" class="umb-editor umb-textstring" ng-model="record.name" required />
                    </umb-control-group>

                    <umb-control-group label="Resolution" description="Specify resolution">
                        <div style="min-height:40px;">
                            <span>
                                <input type="radio" value="id" ng-model="record.type" name="type" />Content Id
                            </span>
                            <div ng-show="record.type == 'id'">
                                <input type="text" ng-model="record.contentId" placeholder="Enter Content Id" />
                            </div>
                        </div>
                        <div style="min-height:30px;">
                            <span>
                                <input type="radio" value="xpath" ng-model="record.type" name="type" /> XPath
                            </span>
                            <div ng-show="record.type == 'xpath'">
                                <textarea type="text" ng-model="record.xpath" placeholder="Enter XPath"></textarea>
                            </div>
                        </div>
                        <div style="min-height:30px;">
                            <span>
                                <input type="radio" value="key" ng-model="record.type" name="type" /> Other Key
                            </span>
                            <div ng-show="record.type == 'key'">
                                <input type="text" ng-model="record.key" placeholder="Enter Key Name" />
                            </div>
                        </div>
                    </umb-control-group>

                    <umb-control-group label="Allow Content Creation?" description="This will allow Defined Content to create the item if it is missing.">
                        <div>
                            <input type="checkbox" class="" ng-model="record.create.enable" required /> Enable
                        </div>
                        <div ng-show="record.create.enable" style="margin-top:15px;">
                            Content Name: &nbsp;<input type="text" ng-model="record.create.name" />
                        </div>
                        <div ng-show="record.create.enable" style="margin-top:15px;">
                            Content Type Alias: &nbsp;<input type="text" ng-model="record.create.contentTypeAlias" />
                        </div>
                        <div ng-show="record.create.enable" style="margin-top:15px;">
                            Default Property Values:
                            <div>
                                <input type="text" ng-model="createPropertyEntry.propertyAlias" placeholder="Enter property alias" /> |
                                <input type="text" ng-model="createPropertyEntry.propertyValue" placeholder="Enter value" /> |
                                <input type="checkbox" ng-model="createPropertyEntry.valueIsKey" /> Is Key? |
                                <input type="button" ng-click="addProperty()" value="Add" />
                            </div>
                            <table ng-show="record.create.properties.length > 0" style="width:586px;">
                                <tbody>
                                    <tr ng-repeat="property in record.create.properties" style="border-bottom:1px solid;border-color: #f1f1f1;height:35px;">
                                        <td>{{property.alias}}</td>
                                        <td>{{property.value}}<i class="icon icon-folder" ng-show="property.valueIsKey"></i></td>
                                        <td><a href ng-click="deleteProperty($index)">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </umb-control-group>

                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </umb-panel>
</form>



